{extends 'layout.latte'}

{block content}
    <h2>{$title}</h2>
    <nav>
        <a href="/">Home</a> |
        <a href="/register">Inscription</a>
    </nav>
    <form action="/login" method="post">

        {if isset($errors)}
            <h1>{$errors}</h1>
        {/if}

        <div class="">
            <label for="">Username</label>
            <input type="text" name="username">
        </div>

        <div class="">
            <label for="">Password</label>
            <input type="password" name="password">
        </div>

        <div class="">
            <button type="submit">Connexion</button>
        </div>
    </form>
{*    <ul>*}
{*        {foreach $posts as $post}*}
{*            <li><a href="/post/{$post['slug']}">{$post['title']}</a></li>*}
{*        {/foreach}*}
{*    </ul>*}
{/block}